HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


k6/k6
docker/caching/hazelcast/hazelcast-simulator
docker/caching/hazelcast/myFirstTest
docker/caching/hazelcast/logs
docker/lb/wrk/wrk_result.csv
docker/minio/10GBfile
docker/minio/venv
docker/airflow/data
docker/airflow/logs